body {
  font-family: Arial, sans-serif;
}

.sidebar {
  height: 1600px;
  background-color: #F6F6F6;
}

.float-left {
  float: left;
  padding-right: 5px;
  padding-bottom: 5px;
}

.float-right {
  float: right;
  padding-left: 5px;
  padding-bottom: 5px;
}

.bg-green {
  background-color: #F5FFFA;
  border: 1px solid #CEF2E0;
}

.hd-green {
  background-color: #CEF2E0;
  border: 1px solid #A3BFB1;
  padding: 2px;
}

.bg-blue {
  background-color: #F5FAFF;
  border: 1px solid #CEDFF2;
}

.hd-blue {
  background-color: #CEDFF2;
  border: 1px solid #A3B0BF;
  padding: 2px;
}

.bg-purple {
  background-color: #FAF5FF;
  border: 1px solid #DDCEF2;
}

.hd-purple {
  background-color: #DDCEF2;
  border: 1px solid #AFA3BF;
  padding: 2px;
}
